/* components/popup/ErrorMsgPopup.module.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1039;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2050;
    width: auto; /* 전체 너비를 강제하지 않음 */
    height: auto; /* 전체 높이를 강제하지 않음 */
    background-color: #fff;
  }
  
  .modalDialog {
    max-width: 500px;
    width: 100%;
    margin: 0; /* Bootstrap의 기본 margin 제거 */
  }
  
  .modalContent {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    padding: 10px;
  }
  
  .modalHeader {
    background-color: #a4b4bb91;
    color: #45516e;
    margin: 2px 0;
  }
  
  .modalTitle {
    font-size: 1rem;
    margin: 0 2px;
  }
  
  .btnClose {
    /* Bootstrap의 btn-close 스타일 유지 */
  }
  
  .modalBody {
    color: #000000;
    padding: 10px;
    border: 1px solid;
    margin: 4px 0;
    border-color: #a4b4bb91;
  }
  
  .modalFooter {
    justify-content: center;
  }
  
  .btnSecondaryCustom {
    padding: 0 4px !important;
    margin: 0 1px !important;
    font-size: 1em !important;
  }
  
  .btnSecondaryCustom:hover {
    background-color: #5a6268;
    border-color: #545b62;
  }