.tabulator {
    background-color: #fff;
    border: 1px solid #999;
    font-size: 12px;
}

.tabulator .tabulator-header {
    background-color: #fff;
    border-bottom: 1px solid #999;
    color: #000;
}

.tabulator-row {
    border-bottom: 1px solid #ddd;
}

.tabulator-row .tabulator-cell {
    border-right: 1px solid #ddd;
}

.tabulator .tabulator-footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #999;
    background-color: #fff;
    color: #555;
    text-align: center;
}

.tabulator .tabulator-footer .tabulator-page {
    background: rgba(255, 255, 255, .2);
    border: 1px solid #aaa;
    border-radius: 3px;
    display: inline-block;
    margin: 0 2px;
    padding: 2px 5px;
    min-width: 22px;
    height: 22px;
    margin: 0 10px;
    border-radius: 50%;
    line-height: 1;
}

.tabulator .tabulator-footer .tabulator-page.active {
    color: #fff;
    background: #0eaba7;
    border: 1px solid #0eaba7;
}

button.tabulator-page {
    color: #000;
}

.tabulator .tabulator-header .tabulator-col {
    background-color: #fff;
}

.tabulator-row.tabulator-row-even {
    background-color: #f9f9f9;
}